body {
    background-image: linear-gradient(yellow, aqua);
    background-repeat: no-repeat;
    padding: 10px; 
    margin: 30px;
}
/* TITLE */
h1 {
    font-size: 2rem;
    color: blue;
    text-align: center;
    font-family: 'Bilbo';
    letter-spacing: 2px;
    text-decoration: underline;
}
/* INTRODUCTORY PARAGRAPH */
p, ul {
    font-size: 1.8rem;
    color: blue;
    text-align: left;
    font-family: 'Bilbo';
    letter-spacing: 3px;
}
/* TEXT:  "THE FORMULA FOR THE LAW OF SINES IS:...." */
#formulaBox1 {
    text-align: center;
    width: 40%;
    height: auto;
    border: 3px black solid;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-image: linear-gradient(yellow, blue);
}
/* image of MAIN FORMULA */
#formula {
    width: 60%;
    height: auto;
    margin-top: 10px;
    border: 2px blue solid;
    outline: 3px yellow solid;
    margin: 30px;
}
/* MAIN CONTAINER FORMATTING   SECOND BOX WITH 3 FORMULAS INSIDE */
#formulaBox2 {
    text-align: center;
    width: 60%;
    height: auto;
    border: 3px black solid;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-image: linear-gradient(yellow, blue);
}
/* FIRST TWO PROPORTIONS IMAGES */
#formulaImage {
    width: 20%;
    height: auto;
    margin-top: 10px;
    border: 2px blue solid;
    outline: 3px yellow solid;
    margin: 40px;
    display: inline-block;
}
/* 3rd PROPORTION IN TEXT BOX */
#formulaImage1 {
    width: 20%;
    height: auto;
    margin-top: 10px;
    border: 2px blue solid;
    outline: 3px yellow solid;
    margin: 40px;
    display: inline-block;
}
#chooseProportion {
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px yellow;
}
/* IMAGE OF TRIG TRIANGLE */
#triangleImage {
    width: 15%;
    height: auto;
    margin-left: 42.5%;
    margin-right: 42.5%;
    border: 2px blue solid;
    outline: 3px yellow solid;
}
/* TEXT BELOW TRIG TRIANGLE PIC */
#variables {
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px yellow;
}
/* START THE SOLUTIONS */
#start {
    width: 100%;
    height: auto;
    border: 2px black solid;
}
/* TEXT NEXT TO INPUT BOXES */
#variables2 {
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px yellow;
    margin-left: 10%;
    margin-right: 10%;
}
/* INPUT TEXT BOXES FOR ANGLE DEGREES */
#angle1, #angle2 {
    width: 10%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px black solid;
    color: black;
    text-shadow: 1px 1px 1px aqua;
    display: inline-block;
    text-align: center;
    font-family: 'Shadow Into Light', cursive;
    margin-top: 20px;
    margin-left: 8.7%;
    margin-right: 0.1%;
}
/* INPUT TEXT BOXES FOR SIDE LENGTHS*/
#side1 {
    width: 10%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px black solid;
    color: black;
    text-shadow: 1px 1px 1px aqua;
    display: inline-block;
    text-align: center;
    font-family: 'Shadow Into Light', cursive;
}
#side2 {
    width: 10%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px black solid;
    color: black;
    text-shadow: 1px 1px 1px aqua;
    display: inline-block;
    text-align: center;
    font-family: 'Shadow Into Light', cursive;
}
/* TEXT NEXT TO INPUT BOXES */
#variables3 {
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px yellow;
    margin-left: 11%;
    margin-right: 11%;
}
#pic1 {
    width: 20%;
    height: auto;
    margin: 15px 40%;
    border: 2px black solid;
}
#pic1b, #pic3, #pic3a {
    width: 20%;
    height: auto;
    margin: 15px 40%;
    border: 2px black solid;
}
#pic2, #pic4 {
    width: 40%;
    height: auto;
    margin: 15px 30%;
    border: 2px black solid;
}
/* SUBMIT BUTTON  */
#submitButton {
    width: 10%;
    height: 60px;
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: blue;
    background-color: yellow;
    border: 2px black solid;
    margin-left: 45%;
    margin-right: 45%;
    display: inline-block;
}
#demo1 {
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: blue;
    background-color: yellow;
    border: 2px black solid;
    margin-left: 35%;
    margin-right: 35%;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
iframe {
    margin: 15px 33%;
    border: 2px black solid;
}
footer {
    font-size: 1rem;
    color: blue;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
